


.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

html {
    background-color: #6C6C6C
}
.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
}

#banner {
    width: 100%;
    height: 100vh;

    padding: 100px;

    background-color: #3D3D3D;
}

#banner img {
    width: 190px;
    height: 190px;
}

#banner svg {
    width: 106px;
    height: 90px;

    fill: #B4E746;
}

#banner .alinhamento {
    display: flex;
    justify-content: space-between;
}

#banner .texto {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

#banner .texto h2 {
    color: white;
    font-family: "Roboto Mono";
    font-size: 40px;
    font-weight: 500;
}

#banner .texto p {
    color: white;
    font-family: "Roboto Mono";
    font-size: 25px;
    font-weight: 300;
    width: 680px;
}

#banner button {
    background-color: #3D3D3D;
    border: none;

    cursor: pointer;
}

#portifolio {
    height: 100vh;
    background-color: #6C6C6C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#portifolio svg {
    width: 100%;
}

.imgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.imgs img {
    width: 500px;
    height: 280px;
}

.imgs svg {
    height: 100px;
    display: none;
}

#descricao {
    padding: 5%;
    height: 500px;
    width: 90%;
    background-color: #767676;

    margin: 50px auto;
    border-radius: 70px;

    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#descricao li , #descricao p {
    font-family: "Roboto Mono";
    font-size: 20px;
    color: white;
}

ul li{
    margin-left: 50px;
}

.linha {
    width: 100%;
}

#footer {
    height: 400px;
    margin-top: 50px;
    background-color: #3D3D3D;

    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px 50px 0px 100px
}

.redes {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    align-items: center;
}

.tecnologias {
    display: flex;
    gap: 40px;
}

.redes a {
    font-family: "Roboto Mono";
    color: white;
}

#fecha {
    display: none;
}

#menu {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    padding-top: 70px;
    padding-left: 20px;
    gap: 25px;
    
    background-color: #333333;
} 

#menu a {
    align-items: center;
    font-family: "Roboto Mono";
    font-size: 20px;
    color: #B4E746;
    text-decoration: none;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#menu svg {
    width: 53px;
    height: 53px;
}